### Imports

In [3]:
import pandas as pd
import numpy as np

import matplotlib as mpl
import matplotlib.pyplot as plt

from ImportUtils import get_dfAll_from_Parquet, get_dfAllFase1_from_Parquet, get_dfInfoEscolas_from_Parquet
from ImportUtils import get_dfSitFreq_from_MDB, get_dfSitFreq_from_Parquet
from ImportUtils import vprint, vprint_time

from ChartUtils import chart
#from ChartUtils import linechart, barchart, barchart_nseries
#from main import dicParams, dicFiles


K_MATPLOTLIB_STYLES_FILE = "NOVAENES.mplstyle"

### Load data

In [14]:
dfInfoEscolas.columns

Index(['ano', 'ID', 'Escola', 'Fase', 'Exame', 'ParaAprov', 'Interno',
       'ParaMelhoria', 'ParaIngresso', 'ParaCFCEPE', 'TemInterno', 'Sexo',
       'Idade', 'Curso', 'SitFreq', 'CIF', 'Class_Exam', 'CFD',
       'Class_Exam_Rounded', 'Covid', 'AnoDadosEscola', 'Distrito', 'Concelho',
       'DescrEscola', 'PubPriv', 'CodDGEEC', 'Descr', 'DescrDistrito',
       'DescrConcelho', 'Nuts3', 'DescrNuts3', 'Nuts2', 'DescrNuts2',
       'DescrExame', 'TipoExame', 'DescrExameAbrev', 'SitFreqDescr',
       'SitFreqDefin', 'TipoCurso', 'SubtipoCurso', 'DescrCurso',
       'DescrTipoCurso', 'TipoCurso_Ano_Ini', 'TipoCurso_Ano_Term',
       'TipoCurso_Ordena', 'DescrSubtipoCurso'],
      dtype='object')

In [6]:
clock = vprint_time(prefix="featureEngineering.")

dfAll = get_dfAll_from_Parquet()
clock = vprint_time(prefix = "dfAll loaded!" + str( dfAll.shape), start_time= clock)
topList1 = list(dfAll.groupby('DescrExameAbrev').size().reset_index(name='count').sort_values('count', ascending=False).head(10)['DescrExameAbrev'])
clock = vprint_time(prefix = "dfAll top exams!", start_time= clock)
vprint(topList1)
vprint("------------------------")

dfAllFase1 = get_dfAllFase1_from_Parquet()
clock = vprint_time(prefix = "dfAllFase1 loaded!" + str( dfAllFase1.shape), start_time= clock)
topList2 = list(dfAllFase1.groupby('DescrExameAbrev').size().reset_index(name='count').sort_values('count', ascending=False).head(10)['DescrExameAbrev'])
clock = vprint_time(prefix = "dfAllFase1 top exams!", start_time= clock)
vprint(topList2)
vprint("------------------------")



dfInfoEscolas = get_dfInfoEscolas_from_Parquet()
clock = vprint_time(prefix = "dfInfoEscolas loaded!" + str( dfInfoEscolas.shape), start_time= clock)
topList3 = list(dfInfoEscolas.groupby('DescrExameAbrev').size().reset_index(name='count').sort_values('count', ascending=False).head(10)['DescrExameAbrev'])
clock = vprint_time(prefix = "dfInfoEscolas top exams!", start_time= clock)
vprint(topList3)

featureEngineering.Current time: 2023-11-04 23:33:40.469182
dfAll loaded!(5900405, 46)Current time: 2023-11-04 23:33:54.982191; Elapsed time: 0:00:14.513010
dfAll top exams!Current time: 2023-11-04 23:33:55.346686; Elapsed time: 0:00:00.364495
['Português', 'Biologia/Geol.', 'Física/Quim. A', 'Matemática A', 'Geografia A', 'História A', 'Economia A', 'MACS', 'Geometr.D.A', 'Filosofia']
------------------------
dfAllFase1 loaded!(4284171, 46)Current time: 2023-11-04 23:34:06.180730; Elapsed time: 0:00:10.834044
dfAllFase1 top exams!Current time: 2023-11-04 23:34:06.450399; Elapsed time: 0:00:00.269669
['Português', 'Biologia/Geol.', 'Matemática A', 'Física/Quim. A', 'Geografia A', 'História A', 'Economia A', 'MACS', 'Filosofia', 'Geometr.D.A']
------------------------
## Valor esperado ##
https://infoescolas.medu.pt/secundario/NI09.pdf
Ponto 2.6
No cálculo do indicador do alinhamento apenas são consideradas:
a) as notas internas dos alunos da escola, # df["TemInterno"] == "S"
b) matriculados em cursos Científico-Humanísticos, # df["SubtipoCurso"].isin(["N01"])
c) que realizaram exames nacionais na 1a fase, # df["Fase"] == "1"
d) para aprovação, # df["ParaAprov"] == "S"
e) como alunos internos. # df["Interno"] == "S"
f) Além disso, apenas são consideradas as notas internas das disciplinas em que o aluno obteve uma classificação superior ou igual a 9,5 valores no respetivo exame nacional # df["Class_Exam"] == "S"
##### NOTE1:
It could make sense to also just include dfAllFase1["CIF"] > 9
However, this is automatically the case, because students with internal grade <= 9 take the exame as external students
By adding this filter, the number of observations remains unchanged.
##### NOTE2:
We could consider other SubtipoCurso, such as N04 (same as N01, but for "Ensino Recorrente")
##### _List of values/description for curso subtipo N_
SubTipo Descr
N01 Cursos Científico-Humanísticos
N02	Cursos Artísticos Especializados
N03	Cursos Tecnológicos
N04	Cursos Científico-Humanísticos do Ensino Recorrente
N05	Cursos Tecnológicos do Ensino Recorrente
N06	Cursos Artísticos Especializados do Ensino Recorrente
N07	Cursos Profissionais
dfInfoEscolas loaded!(1551618, 46)Current time: 2023-11-04 23:34:09.916287; Elapsed time: 0:00:03.465888
dfInfoEscolas top exams!Current time: 2023-11-04 23:34:10.011261; Elapsed time: 0:00:00.094975
['Português', 'Matemática A', 'Biologia/Geol.', 'Física/Quim. A', 'Geografia A', 'História A', 'MACS', 'Economia A', 'Filosofia', 'Geometr.D.A']

In [12]:
#dfInfoEscolas.columns
#dfInfoEscolas["Class_Exam_Rounded"].value_counts()

#dfInfoEscolas.pivot_table(index='Class_Exam_Rounded', columns='ano', values='Class_Exam_Rounded', aggfunc='count')

# Create a pivot table with the values for "ano" in row, the values for "Class_Exam_Rounded" in columns and counting records
x = dfInfoEscolas.pivot_table(index='ano', columns='Class_Exam_Rounded', aggfunc='count')

# Calculate the mean value of column "CIF"

                   AnoDadosEscola                                            \
Class_Exam_Rounded             10     11     12     13     14     15     16
ano
2008                        18844  15655  14559  13308  11645  10386   8856
2009                        20688  18462  17406  16098  14554  12462  10264
2010                        20901  18146  16812  15371  13303  11271   8987
2011                        20694  17184  15609  14222  12354  10475   8463
2012                        22881  18675  17095  15125  12884  10541   7864
2013                        22211  17216  15274  13069  10963   8781   6497
2014                        22474  19014  17920  16437  14452  12282   9379
2015                        23790  19962  18740  17147  14943  12612  10072
2016                        24744  21124  20137  18226  16240  13240  10583
2017                        25437  22013  20656  18784  16521  14006  11287
2018                        24727  21124  20020  18207  16035  13661  10887
2019                        23838  20897  20113  18166  16468  14541  11800

                                      ... TipoExame                       \
Class_Exam_Rounded    17    18    19  ...        11     12     13     14
ano                                   ...
2008                7277  6024  4679  ...     15655  14559  13308  11645
2009                7863  5905  3869  ...     18462  17406  16098  14554
2010                6769  4749  2730  ...     18146  16812  15371  13303
2011                6495  4851  3139  ...     17184  15609  14222  12354
2012                5643  3676  2108  ...     18675  17095  15125  12884
2013                4697  3173  2216  ...     17216  15274  13069  10963
2014                7200  4955  2628  ...     19014  17920  16437  14452
2015                7849  5793  3935  ...     19962  18740  17147  14943
2016                8016  5636  3549  ...     21124  20137  18226  16240
2017                8366  5714  3376  ...     22013  20656  18784  16521
2018                8107  5782  3744  ...     21124  20020  18207  16035
2019                9559  7118  4971  ...     20897  20113  18166  16468


Class_Exam_Rounded     15     16    17    18    19    20
ano
2008                10386   8856  7277  6024  4679  2383
2009                12462  10264  7863  5905  3869  1906
2010                11271   8987  6769  4749  2730  1584
2011                10475   8463  6495  4851  3139  1692
2012                10541   7864  5643  3676  2108   926
2013                 8781   6497  4697  3173  2216  1116
2014                12282   9379  7200  4955  2628  1486
2015                12612  10072  7849  5793  3935  2274
2016                13240  10583  8016  5636  3549  1857
2017                14006  11287  8366  5714  3376  1515
2018                13661  10887  8107  5782  3744  1713
2019                14541  11800  9559  7118  4971  2244

[12 rows x 484 columns]

In [21]:
#dfInfoEscolas.pivot_table(index='ano', columns='Class_Exam_Rounded', values='CIF', aggfunc='mean')

#x = dfInfoEscolas.groupby(['ano', "Exame", 'Class_Exam_Rounded']).median()['CIF']


print(x)

                                min   max  median       mean  count
ano  Exame Class_Exam_Rounded
2008 239   10                  10.0  15.0    11.5  12.000000      4
           11                  11.0  11.0    11.0  11.000000      1
           12                  14.0  14.0    14.0  14.000000      1
           14                  12.0  12.0    12.0  12.000000      1
           16                  11.0  15.0    12.0  12.666667      3
...                             ...   ...     ...        ...    ...
2019 839   16                  12.0  19.0    15.5  15.750000     20
           17                  11.0  20.0    15.0  15.157895     19
           18                  11.0  20.0    16.0  16.391304     23
           19                  11.0  20.0    16.0  15.750000     16
           20                  16.0  18.0    17.0  17.000000      2

[2873 rows x 5 columns]

In [39]:
dfx = dfInfoEscolas
#print(df1.shape)
df2 = df1.copy()
df2["Class_Exam_Roundup"] = (df2["Class_Exam"] + 0.4).round().astype(int)
xx = df2[df2["Class_Exam"]<9.5][["Class_Exam", "Class_Exam_Rounded", "Class_Exam_Roundup"]]

print(xx)
#print(df2[df2["Class_Exam"]==12][["Class_Exam", "Class_Exam_Rounded", "Class_Exam_Roundup"]])

Empty DataFrame
Columns: [Class_Exam, Class_Exam_Rounded, Class_Exam_Roundup]
Index: []

In [37]:
df1.shape

(10000, 51)

In [18]:
# Replace null values in SitFreqDescr and SitFreqDefin with "Desconhecido"
xx["SitFreqDescr"].fillna("Desconhecido", inplace=True)
xx["SitFreqDefin"].fillna("Desconhecido", inplace=True)

In [26]:
year = 2022
x = pd.DataFrame( {'ano': year, 'SitFreq':"NA", 'Descr':"NA", 'Defin':"NA"}, index=[0] )
print("x", x.shape)
print(x)

x (1, 4)
    ano SitFreq Descr Defin
0  2022      NA    NA    NA

In [ ]:
year = 2022
x = pd.DataFrame( {'ano': year, 'SitFreq':"NA", 'Descr':"NA", 'Defin':"NA"}, index=[0] )
print("x", x.shape)
print(x)

In [13]:
dfSitFreq["SitFreqDescr"] = dfSitFreq["Descr"]
dfSitFreq["SitFreqDefin"] = dfSitFreq["Defin"]
dfSitFreq.drop(columns=["Descr", "Defin"], inplace=True)

In [14]:
dfSitFreq

,SitFreq,SitFreqDescr,SitFreqDefin
0,AE,Admitido a Exame,Aluno interno que obteve pelo menos 10 valores...
1,AM,Anulou Matrícula,Aluno que frequentou no presente ano letivo a ...
2,AP,Aprovado,Aluno que aprovou por frequência em disciplina...
3,EF,Excluído por Faltas,Aluno que frequentou a disciplina na escola es...
4,RF,Reprovou Frequência,Aluno que frequentou a disciplina na escola at...
5,AF,Autoproposto sem Frequência,Aluno autoproposto que não frequentou a discip...

## Create dfInfoEscolas dataframe

## Valor esperado
https://infoescolas.medu.pt/secundario/NI09.pdf

Ponto 2.6
No cálculo do indicador do alinhamento apenas são consideradas:
<br>a) as notas internas dos alunos da escola, # df["TemInterno"] == "S"
<br>b) matriculados em cursos Científico-Humanísticos, # df["SubtipoCurso"].isin(["N01"])
<br>c) que realizaram exames nacionais na 1a fase, # df["Fase"] == "1"
<br>d) para aprovação, # df["ParaAprov"] == "S"
<br>e) como alunos internos. # df["Interno"] == "S"
<br>f) Além disso, apenas são consideradas as notas internas das disciplinas em que o aluno obteve uma classificação superior ou igual a 9,5 valores no respetivo exame nacional # df["Class_Exam"] == "S"

##### NOTE1:
It could make sense to also just include dfAllFase1["CIF"] > 9
<br>However, this is automatically the case, because students with internal grade <= 9 take the exame as external students
<br>By adding this filter, the number of observations remains unchanged.

##### NOTE2:
We could consider other SubtipoCurso, such as N04 (same as N01, but for "Ensino Recorrente")

In [62]:
xx = dfAll[ (dfAll["TemInterno"] == "S") & (dfAll["SubtipoCurso"].isin(["N01", "N04"])) & (dfAll["Fase"] == "1") & (dfAll["ParaAprov"] == "S") & (dfAll["Interno"] == "S") & (dfAll["Class_Exam"] > 9.4)]
#.groupby('DescrExameAbrev').size().reset_index(name='count').sort_values('count', ascending=False).head(10)['DescrExameAbrev'
print("xx", xx.shape)

xx (1551618, 44)

In [63]:

dfInfoEscolas = dfAllFase1[ (dfAllFase1["TemInterno"] == "S") & (dfAllFase1["SubtipoCurso"].isin(["N01", "N04"])) & (dfAllFase1["Fase"] == "1") & (dfAllFase1["ParaAprov"] == "S") & (dfAllFase1["Interno"] == "S") & (dfAllFase1["Class_Exam"] > 9.4)]
#.groupby('DescrExameAbrev').size().reset_index(name='count').sort_values('count', ascending=False).head(10)['DescrExameAbrev'
print("dfInfoEscolas", dfInfoEscolas.shape)

dfInfoEscolas (1551618, 44)

In [64]:
print("dfAll", dfAll.shape)
print("dfAllFase1", dfAllFase1.shape)
print("xx", xx.shape)
print("dfInfoEscolas", dfInfoEscolas.shape)

dfAll (5900405, 44)
dfAllFase1 (4284171, 44)
xx (1551618, 44)
dfInfoEscolas (1551618, 44)

In [56]:
print("TemInterno", dfAllFase1[ (dfAllFase1["TemInterno"] == "S")].shape)
print("SubtipoCurso", dfAllFase1[(dfAllFase1["SubtipoCurso"].isin(["N01", "N04"]))].shape)
print("Fase", dfAllFase1[ (dfAllFase1["Fase"] == "1")].shape)
print("ParaAprov", dfAllFase1[(dfAllFase1["ParaAprov"] == "S")].shape)
print("Interno", dfAllFase1[(dfAllFase1["Interno"] == "S")].shape)
print("Class_Exam", dfAllFase1[(dfAllFase1["Class_Exam"] >9.4)].shape)

TemInterno (2959667, 44)
SubtipoCurso (3845891, 44)
Fase (4284171, 44)
ParaAprov (2828381, 44)
Interno (2470950, 44)
Class_Exam (2494042, 44)

In [67]:
import yaml

In [69]:
path_dicts_params = ""

In [70]:
# Define dictionaries from the YAML files
with open(path_dicts_params + "Params.yaml", "r") as file:
	dicParams = yaml.load(file, Loader=yaml.FullLoader)
with open(path_dicts_params + "Files.yaml", "r") as file:
	dicFiles = yaml.load(file, Loader=yaml.FullLoader)

In [71]:
dicParams

{'dataFolder': 'C:/ENES/',
 'dataFolderMDB': 'C:/ENES/MDB/',
 'dataFolderZIP': 'C:/ENES/ZIP/',
 'dataFolderParquet': 'C:/ENES/Parquet/',
 'verbose': True,
 'ignore_known_warnings': True}

In [72]:
dicFiles

{'ENES2008.zip': 'https://www.dge.mec.pt/sites/default/files/JNE/enes2008_0.zip',
 'ENES2009.zip': 'http://www.dge.mec.pt/sites/default/files/JNE/enes2009.zip',
 'ENES2010.zip': 'http://www.dge.mec.pt/sites/default/files/JNE/2010_enes.zip',
 'ENES2011.zip': 'http://www.dge.mec.pt/sites/default/files/JNE/2011_enes.zip',
 'ENES2012.zip': 'http://www.dge.mec.pt/sites/default/files/JNE/2012_enes_secun.zip',
 'ENES2013.zip': 'http://www.dge.mec.pt/sites/default/files/JNE/2013_enes_sec.zip',
 'ENES2014.zip': 'http://www.dge.mec.pt/sites/default/files/JNE/enes2014.zip',
 'ENES2015.zip': 'http://www.dge.mec.pt/sites/default/files/JNE/enes2015_0.zip',
 'ENES2016.zip': 'http://www.dge.mec.pt/sites/default/files/JNE/enes2016-media_2.zip',
 'ENES2017.zip': 'http://www.dge.mec.pt/sites/default/files/JNE/enes2017-final.zip',
 'ENES2018.zip': 'http://www.dge.mec.pt/sites/default/files/JNE/enes2018.zip',
 'ENES2019.zip': 'http://www.dge.mec.pt/sites/default/files/JNE/enes2019.zip',
 'ENES2020.zip': 'http://www.dge.mec.pt/sites/default/files/JNE/enes_2020.zip',
 'ENES2021.zip': 'http://www.dge.mec.pt/sites/default/files/JNE/enes2021.zip',
 'ENES2022.zip': 'http://www.dge.mec.pt/sites/default/files/JNE/enes2022_bd_imprensa.zip'}

In [73]:
dicParquetBase = {}
dicParquetBase[0] = "dfCursos"
dicParquetBase[1] = "dfExames"
dicParquetBase[2] = "dfSchools"
dicParquetBase[3] = "dfGeo"
dicParquetBase[4] = "dfResult"
dicParquetBase[5] = "dfSitFreq"
dicParquetBase[6] = "dfAll"

dicParquetExtra = {}
dicParquetExtra[0] = "dfAllFase1"
dicParquetExtra[1] = "dfInfoEscolas"

In [74]:
dicYamlFile = {}
dicYamlFile["dicParams"] = dicParams
dicYamlFile["dicFiles"] = dicFiles
dicYamlFile["dicParquetBase"] = dicParquetBase
dicYamlFile["dicParquetExtra"] = dicParquetExtra

In [76]:
with open("novaenes", 'w') as file:
    yaml.dump(dicYamlFile, file)

In [51]:
dfAllFase1[ (dfAllFase1["TemInterno"] == "S") & (dfAllFase1["SubtipoCurso"].isin(["N01", "N04"])) & (dfAllFase1["Fase"] == "1") & (dfAllFase1["ParaAprov"] == "S") & (dfAllFase1["Interno"] == "S") & (dfAllFase1["Class_Exam"] == "S")]
#.groupby('DescrExameAbrev').size().reset_index(name='count').sort_values('count', ascending=False).head(10)['DescrExameAbrev'

Empty DataFrame
Columns: [ano, ID, Escola, Fase, Exame, ParaAprov, Interno, ParaMelhoria, ParaIngresso, ParaCFCEPE, TemInterno, Sexo, Idade, Curso, SitFreq, CIF, Class_Exam, CFD, Class_Exam_Rounded, Covid, AnoDadosEscola, Distrito, Concelho, DescrEscola, PubPriv, CodDGEEC, Descr, DescrDistrito, DescrConcelho, Nuts3, DescrNuts3, Nuts2, DescrNuts2, DescrExame, TipoExame, DescrExameAbrev, TipoCurso, SubtipoCurso, DescrCurso, DescrTipoCurso, TipoCurso_Ano_Ini, TipoCirso_Ano_Term, TipoCurso_Ordena, DescrSubtipoCurso]
Index: []

[0 rows x 44 columns]

dicFiles {'ENES2008.zip': 'https://www.dge.mec.pt/sites/default/files/JNE/enes2008_0.zip', 'ENES2009.zip': 'http://www.dge.mec.pt/sites/default/files/JNE/enes2009.zip', 'ENES2010.zip': 'http://www.dge.mec.pt/sites/default/files/JNE/2010_enes.zip', 'ENES2011.zip': 'http://www.dge.mec.pt/sites/default/files/JNE/2011_enes.zip', 'ENES2012.zip': 'http://www.dge.mec.pt/sites/default/files/JNE/2012_enes_secun.zip', 'ENES2013.zip': 'http://www.dge.mec.pt/sites/default/files/JNE/2013_enes_sec.zip', 'ENES2014.zip': 'http://www.dge.mec.pt/sites/default/files/JNE/enes2014.zip', 'ENES2015.zip': 'http://www.dge.mec.pt/sites/default/files/JNE/enes2015_0.zip', 'ENES2016.zip': 'http://www.dge.mec.pt/sites/default/files/JNE/enes2016-media_2.zip', 'ENES2017.zip': 'http://www.dge.mec.pt/sites/default/files/JNE/enes2017-final.zip', 'ENES2018.zip': 'http://www.dge.mec.pt/sites/default/files/JNE/enes2018.zip', 'ENES2019.zip': 'http://www.dge.mec.pt/sites/default/files/JNE/enes2019.zip', 'ENES2020.zip': 'http://www.dge.mec.pt/sites/default/files/JNE/enes_2020.zip', 'ENES2021.zip': 'http://www.dge.mec.pt/sites/default/files/JNE/enes2021.zip', 'ENES2022.zip': 'http://www.dge.mec.pt/sites/default/files/JNE/enes2022_bd_imprensa.zip'}
dicParquetBase {0: 'dfCursos', 1: 'dfExames', 2: 'dfSchools', 3: 'dfGeo', 4: 'dfResult', 5: 'dfSitFreq', 6: 'dfAll'}
dicParquetExtra {0: 'dfAllFase1', 1: 'dfInfoEscolas'}
xparams {'dataFolder': 'C:/ENES/', 'dataFolderMDB': 'C:/ENES/MDB/', 'dataFolderParquet': 'C:/ENES/Parquet/', 'dataFolderZIP': 'C:/ENES/ZIP/', 'ignore_known_warnings': True, 'verbose': True}

In [1]:

dfAll

NameError: name 'dfAll' is not defined

### Transformations

In [40]:
df = dfAllFase1.copy()

In [47]:
xx = df[df["SubtipoCurso"]=="N01"]
print("N01: ", xx.shape)
# (3750861, 44)
xx = df[df["SubtipoCurso"].isin(["N01", "N04"])]
print("isin N01: ", xx.shape)

N01:  (3750861, 44)
isin N01:  (3750861, 44)

In [42]:
xx.head()

,ano,ID,Escola,Fase,Exame,ParaAprov,Interno,ParaMelhoria,ParaIngresso,ParaCFCEPE,...,TipoExame,DescrExameAbrev,TipoCurso,SubtipoCurso,DescrCurso,DescrTipoCurso,TipoCurso_Ano_Ini,TipoCirso_Ano_Term,TipoCurso_Ordena,DescrSubtipoCurso
0,2022,1,0002,1,639,N,N,S,S,N,...,N,Português,N,N01,Línguas e Humanidades,Nível secundário de educação,10.0,12.0,1,Cursos Científico-Humanísticos
1,2022,3,0002,1,639,N,N,N,S,N,...,N,Português,N,N01,Línguas e Humanidades,Nível secundário de educação,10.0,12.0,1,Cursos Científico-Humanísticos
2,2022,5,0002,1,639,N,N,N,S,N,...,N,Português,N,N01,Línguas e Humanidades,Nível secundário de educação,10.0,12.0,1,Cursos Científico-Humanísticos
3,2022,6,0002,1,639,N,N,N,S,N,...,N,Português,N,N01,Línguas e Humanidades,Nível secundário de educação,10.0,12.0,1,Cursos Científico-Humanísticos
4,2022,16,0002,1,639,N,N,N,S,N,...,N,Português,N,N01,Línguas e Humanidades,Nível secundário de educação,10.0,12.0,1,Cursos Científico-Humanísticos

In [45]:
# Count records by SubtipoCurso, in descending order
#df.groupby('SubtipoCurso').size().reset_index(name='count').sort_values('count', ascending=False)
#df.groupby(["SubtipoCurso", "DescrSubtipoCurso"]).size().reset_index(name='count').sort_values('count', ascending=False)


SubTipo	Descr
N01	Cursos Científico-Humanísticos
N02	Cursos Artísticos Especializados
N03	Cursos Tecnológicos
N04	Cursos Científico-Humanísticos do Ensino Recorrente
N05	Cursos Tecnológicos do Ensino Recorrente
N06	Cursos Artísticos Especializados do Ensino Recorrente
N07	Cursos Profissionais

#xx = df[df["SubtipoCurso"]=="N01"]

#dfx = xx[ (xx["DescrTipoCurso"]=="Nível secundário de educação") | (xx["DescrTipoCurso"]=="Nível secundário de educação (DL 74/2004)")]
#dfx = xx[ (xx["DescrTipoCurso"]=="Nível secundário de educação") | (xx["DescrTipoCurso"]=="Nível secundário de educação (DL 74/2004)")]
#df.groupby(["DescrTipoCurso", "ano"]).size().reset_index(name='count').sort_values('count', ascending=False).head(30)
df.groupby(["SubtipoCurso", "ano"]).size().reset_index(name='count').sort_values('count', ascending=False).head(30)

#df.groupby(["SubtipoCurso", "DescrSubtipoCurso"]).size().reset_index(name='count').sort_values('count', ascending=False)

    SubtipoCurso   ano   count
31           N01  2017  291510
30           N01  2016  290013
27           N01  2013  287128
28           N01  2014  286133
32           N01  2018  283584
26           N01  2012  283047
33           N01  2019  282353
29           N01  2015  281877
23           N01  2009  235162
25           N01  2011  232940
24           N01  2010  229601
22           N01  2008  210134
34           N01  2020  198210
36           N01  2022  181295
35           N01  2021  177874
117          N07  2017   19167
116          N07  2016   18726
118          N07  2018   18551
119          N07  2019   17491
115          N07  2015   16849
112          N07  2012   15509
113          N07  2013   15349
114          N07  2014   14974
121          N07  2021   14419
122          N07  2022   13950
120          N07  2020   13761
111          N07  2011   12676
74           N04  2015    9713
52           N03  2008    9703
110          N07  2010    9602

(10571, 10)

,ano,Curso,TipoCurso,SubtipoCurso,DescrCurso,DescrTipoCurso,TipoCurso_Ano_Ini,TipoCirso_Ano_Term,TipoCurso_Ordena,DescrSubtipoCurso
0,2022,002,E,E01,2.º Curso,Via de ensino do 12º ano,12.0,12.0,2,Via de ensino do 12º ano
1,2022,003,E,E01,3.º Curso,Via de ensino do 12º ano,12.0,12.0,2,Via de ensino do 12º ano
2,2022,004,E,E01,4.º Curso,Via de ensino do 12º ano,12.0,12.0,2,Via de ensino do 12º ano
3,2022,005,E,E01,5.º Curso,Via de ensino do 12º ano,12.0,12.0,2,Via de ensino do 12º ano
4,2022,001,E,E01,1.º Curso,Via de ensino do 12º ano,12.0,12.0,2,Via de ensino do 12º ano
5,2022,C62,N,N01,Línguas e Humanidades,Nível secundário de educação,10.0,12.0,1,Cursos Científico-Humanísticos
6,2022,F64,N,N01,Artes Visuais,Nível secundário de educação,10.0,12.0,1,Cursos Científico-Humanísticos
7,2022,F62,N,N01,Línguas e Humanidades,Nível secundário de educação,10.0,12.0,1,Cursos Científico-Humanísticos
8,2022,F61,N,N01,Ciências Socioeconómicas,Nível secundário de educação,10.0,12.0,1,Cursos Científico-Humanísticos
9,2022,C64,N,N01,Artes Visuais,Nível secundário de educação,10.0,12.0,1,Cursos Científico-Humanísticos
10,2022,C61,N,N01,Ciências Socioeconómicas,Nível secundário de educação,10.0,12.0,1,Cursos Científico-Humanísticos
11,2022,C60,N,N01,Ciências e Tecnologias,Nível secundário de educação,10.0,12.0,1,Cursos Científico-Humanísticos
12,2022,064,N,N01,Artes Visuais,Nível secundário de educação,10.0,12.0,1,Cursos Científico-Humanísticos
13,2022,062,N,N01,Ciências Sociais e Humanas,Nível secundário de educação,10.0,12.0,1,Cursos Científico-Humanísticos
14,2022,061,N,N01,Ciências Socioeconómicas,Nível secundário de educação,10.0,12.0,1,Cursos Científico-Humanísticos
15,2022,060,N,N01,Ciências e Tecnologias,Nível secundário de educação,10.0,12.0,1,Cursos Científico-Humanísticos
16,2022,F60,N,N01,Ciências e Tecnologias,Nível secundário de educação,10.0,12.0,1,Cursos Científico-Humanísticos
17,2022,C72,N,N02,Design de Produto,Nível secundário de educação,10.0,12.0,1,Cursos Artísticos Especializados
18,2022,F70,N,N02,Comunicação Audiovisual,Nível secundário de educação,10.0,12.0,1,Cursos Artísticos Especializados
19,2022,F77,N,N02,Secundário de Canto,Nível secundário de educação,10.0,12.0,1,Cursos Artísticos Especializados

In [101]:
df.columns

Index(['ano', 'ID', 'Escola', 'Fase', 'Exame', 'ParaAprov', 'Interno',
       'ParaMelhoria', 'ParaIngresso', 'ParaCFCEPE', 'TemInterno', 'Sexo',
       'Idade', 'Curso', 'SitFreq', 'CIF', 'Class_Exam', 'CFD',
       'Class_Exam_Rounded', 'Covid', 'AnoDadosEscola', 'Distrito', 'Concelho',
       'DescrEscola', 'PubPriv', 'CodDGEEC', 'Descr', 'DescrDistrito',
       'DescrConcelho', 'Nuts3', 'DescrNuts3', 'Nuts2', 'DescrNuts2',
       'DescrExame', 'TipoExame', 'DescrExameAbrev'],
      dtype='object')

In [96]:
#df[df["ano"]==2020][["ano", "CIF", "Class_Exam", "CFD"]].isnull().sum() # CIF IS NULL
df[df["ano"]==2021][["ano", "CIF", "Class_Exam", "CFD"]].isnull().sum() #CIF IS NULL, 80% CFD is null
#df[df["ano"]==2022][["ano", "CIF", "Class_Exam", "CFD"]].isnull().sum()

ano                0
CIF           203924
Class_Exam         0
CFD           164566
dtype: int64

In [82]:
df = df[df["CIF"] >= 10]
df.shape

#df[df["CIF"]==None].shape
#df["CIF"].groupby(["CIF"]).count()

(2601343, 36)

In [41]:
#df.drop(df["CIF"] < 0, axis=1, inplace=True)

#dfAllFase1.columns

In [43]:
df.columns

Index(['ano', 'ID', 'Escola', 'Exame', 'ParaAprov', 'Interno', 'Curso',
       'SitFreq', 'CIF', 'Class_Exam', 'CFD', 'TipoExame'],
      dtype='object')